@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Environment</h2>
        <ul>
            <li>Machine: @Environment.MachineName</li>
            <li>OS: @Environment.OSVersion</li>
            <li>Processors: @Environment.ProcessorCount</li>
            <li>System: @Environment.SystemDirectory</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Files</h2>
        <ul>
            @foreach (var file in Model.MyFiles)
            {
                <li>@file</li>
            }
        </ul>
    </div>
</div>
